div {
  /* border: 1px solid green; */
}

.UpSide {
  width: 100%;
  height: 25px;
}
.LeftSide {
  width: 30%;
  float: left;
  min-height: 100%;
}
.LeftSide > * {
  width: 100px;
  height: 50px;
}
.CentrSide {
  width: 40%;
  height: 100%;
  min-height: 100%;
  float: left;
}
.CentrSide > * {
  width: 100%;
  height: 50%;
}
#kapi > * {
  width: 256px;
  height: 256px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#kapi_Button {
  width: 256px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#kapi_Button:active {
  transform: scale(0.98);
}
.RightSide {
  width: 29%;
  min-height: 100%;
  float: left;
}

.push_box {
  position: relative;
  width: auto;
  height: 110px;
  margin: 10px;
  border-radius: 15px;
  background-color: bisque;
}
.push_box:hover {
  background-color: #f1d7b6;
}
.push_box:active {
  background-color: #eecea5;
  transform: scale(0.989);

}
.push_box > * {
  position: absolute;

}
.pictureShop {
  width: 100px;
  height: 100px;
}
.pictureShop > img {
  width: 100px;
  height: 100px;
  margin: 5px 0px 5px 5px;
}
.textShop {
  margin-left: 120px;
}
.push_box[value~="left"] {
  
}
.pictureShop[value~="left"] {
  right: 0px;
}
.textShop[value~="left"] {
  right: 0;
  margin-left: 0px;
  margin-right: 110px;
}
